@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
html {
  font-size: 112.5%;
}

h1, h2, h3 {
  font-weight: 300;
  color: #2d314d;
  margin-bottom: 2rem;
}

.overlay {
  display: none;
}

.d-none {
  display: none !important;
}

.close, .hamburger {
  display: none;
}

.mobile-btn {
  position: absolute;
  right: 2.8rem;
  cursor: pointer;
  z-index: 25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.pa-5 {
  padding: 5rem;
}

body {
  font-family: 'Public Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #9698a6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  font-family: 'Public Sans', sans-serif;
  cursor: pointer;
  display: block;
}

.btn-primary {
  position: relative;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  z-index: 1;
}

.mine{
    left: 53%;
}

.btn-primary:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(to right, #2bb7da, #31d35c);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  padding: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #ffffff;
  z-index: 10;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.header .logo {
  margin-left: 3rem;
}

.header ul {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul.primary li {
  margin-right: 2rem;
  margin-top: auto 0;
  position: relative;
}

.header ul.primary li:last-child {
  margin-right: 0;
}

.header ul.primary li::after {
  content: '';
  display: block;
  height: 0.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  position: absolute;
  bottom: -35px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header ul.primary li:hover {
  color: #2d314d;
}

.header ul.primary li:hover::after {
  opacity: 1;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fafafa;
  position: relative;
  z-index: 1;
}

.intro__text {
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 66%;
}

.intro__text p {
  margin-bottom: 3rem;
}

.intro__img {
  position: relative;
  display: block;
  width: 100%;
  background-image: url(../imgs/bg-intro-desktop.svg);
  background-position: 3rem -15rem;
  background-repeat: no-repeat;
}

.intro__img img.mockups {
  position: absolute;
  right: 0;
  top: -6rem;
}

.features {
  background: #f3f4f6;
}

.features__text {
  width: 55%;
  padding-bottom: 3rem;
}

.features__body {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__card {
  width: 20%;
}

.features__card h3 {
  margin: 2rem 0;
}

.blog {
  background-color: #fafafa;
}

.blog__img {
  width: 100%;
  max-height: 12rem;
}

.blog__img img {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__card {
  width: 24%;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 3rem;
  border-radius: .3rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.blog__card--name {
  font-size: .8rem;
}

.blog__card--body {
  padding: 1rem;
}

.blog__card--body h4 {
  color: #2d314d;
  font-weight: 400;
  margin: .9rem 0;
  font-size: 1.3rem;
}

.blog__card:hover {
  cursor: pointer;
  -webkit-transform: scale(102%);
          transform: scale(102%);
}

.footer {
  background-color: #2d314d;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer a:hover {
  color: #31d35c;
}

.footer__logo {
  width: 9rem;
}

.footer__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.footer ul {
  list-style-type: none;
}

.footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 3rem;
}

.footer__social li:not(:last-child) {
  margin-right: .7rem;
}

.footer__links {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links ul li {
  margin-bottom: 1rem;
}

.footer__last {
  text-align: right;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__last p {
  color: #9698a6;
  font-size: .8rem;
  margin-top: auto;
}

@media only screen and (max-width: 1170px) {
  .overlay {
    display: none;
  }
  .intro__text {
    padding-top: 3rem;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .intro__text h1 {
    font-size: 2.5rem;
  }
  .intro__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .intro__img img.mockups {
    top: 1.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 49, 77, 0.8)), to(rgba(243, 244, 246, 0.8)));
    background: linear-gradient(to bottom, rgba(45, 49, 77, 0.8), rgba(243, 244, 246, 0.8));
    position: absolute;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .close, .hamburger {
    display: block;
  }
  .mobile-btn {
    display: block;
  }
  .pa-5 {
    padding: 2rem;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    margin-right: auto;
    margin-left: 0;
  }
  .header nav {
    z-index: 13;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffffff;
    border-radius: .3rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2.5rem;
    padding: 1.5rem;
    color: #2d314d;
  }
  .header nav ul {
    display: block;
    text-align: center;
    width: 100%;
  }
  .header nav ul.primary li {
    margin-top: auto 0;
    position: relative;
    margin-right: 0;
  }
  .header nav ul.primary li:not(:last-child) {
    margin-bottom: 1.3rem;
  }
  .header nav ul.primary li a {
    color: #2d314d;
  }
  .header nav ul.primary li a:hover {
    color: #31d35c;
  }
  .header nav ul.primary li:last-child {
    margin-right: 0;
  }
  .header nav ul.primary li::after {
    content: '';
    display: block;
    height: 0;
  }
  .header nav ul.secondary {
    display: none;
  }
  .header nav {
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .header nav.mobile-menu {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    opacity: 0;
  }
  .header nav.mobile-menu-in {
    z-index: 25;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    opacity: 1;
  }
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__text {
    padding-top: 3rem;
    padding-bottom: 6rem;
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 5rem;
  }
  .intro__text button {
    margin-right: 0;
    display: block;
    margin: 0 auto;
  }
  .intro__text h1 {
    font-size: 2.5rem;
  }
  .intro__text p {
    margin-bottom: 3rem;
  }
  .intro__img {
    position: relative;
    display: block;
    width: 100%;
    background: url(../imgs/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 26rem;
  }
  .intro__img img.mockups {
    position: absolute;
    width: 100%;
    height: 33.5rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__text {
    width: 100%;
    text-align: center;
  }
  .features__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .features__card {
    margin-top: 2rem;
    width: 100%;
  }
  .features__card h3 {
    margin: 2rem 0;
  }
  .blog__card {
    width: 48%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social li:not(:last-child) {
    margin-right: .7rem;
  }
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 2rem;
  }
  .footer__links ul {
    display: block;
    text-align: center;
  }
  .footer__links ul li:last-child {
    margin-bottom: 1rem;
  }
  .footer__last {
    text-align: center;
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__last p {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .blog__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */